

.user-page-container {
    display: flex;
    flex-direction: column;
    
    margin: 20px;
    font-family: 'Arial', sans-serif;
}

.userinfo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.userinfo img.profile-pic {
    width: 80px; 
    height: 80px; 
    border-radius: 50%;
    margin-right: 15px;
    margin-left: 1vw;
}

.follow-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
    color: white;
    margin-left: 2vw;
    background-color: #5046E5; 
}

.follow-button.follow {
    background-color: #5046E5; 
}

.follow-button.unfollow {
    background-color: #6c757d; 
}

.follow-button:hover:not(:disabled) {
    background-color: #4338ca; 
}

.follow-button.unfollow:hover {
    background-color: #5a6268; 
}

.follow-button:disabled {
    background-color: #ccc; 
    color: #666; 
    cursor: not-allowed; 
}

.posts-list {
    margin-top: 20px;
}


.follow-button:disabled:hover {
    background-color: #ccc; 
}