

.protected-routes{
  display: flex;
  flex-direction: row;
  
  
  background-color: #F6F6F6;
  width: 99vw;
  
}

.main {
  
  width: 77vw;
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.main::-webkit-scrollbar { 
  display: none; 
  overflow-x: hidden;
 
  
}


