.profile-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
  
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .profile-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .profile-view p {
    font-size: 16px;
    color: #555;
  }
  
  .profile-view strong {
    color: #333;
  }
  
  .profile-edit label {
    font-size: 14px;
    color: #555;
    display: block;
    margin-bottom: 8px;
  }
  
  .profile-edit input,
  .profile-edit textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #5046E5;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .save-button {
    background-color: #28a745;
    color: #fff;
    margin-right: 10px;
    transition: background-color 0.3s;
  }
  
  .cancel-button {
    background-color: #dc3545;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  button:hover {
    opacity: 0.9;
  }
  .profile-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

  }
  img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .upload-button {
    background-color: #17a2b8;
    color: #fff;
    transition: background-color 0.3s;
  }
  
  .upload-button:hover {
    background-color: #138496;
  }
  